.title{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
main{
  display: flex;
  justify-content: center;
}
.section{
  margin: 50px 50px;
}
li{
  list-style: none;
}
.errors {
  font-size: 14px;
  font-weight: bold;
  color: #ED5974;
  border: 1px solid #e29a9a;
  padding: 12px 34px;
  line-height: 1.6;
  border-radius: 6px;
  list-style: outside;
  background-color: #fff;
  margin-top: 30px;
}
* {margin:0; padding:0; box-sizing:border-box; }
#chatSec {
width: 100%;
height: 100vh;
display: flex;
align-items: center;
background: #fafafa;
}
.chatBlock {
width: 100%;
max-width: 800px;
margin: 0 auto;
background: #fff;
box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
transition: 0.2s ease-in-out;
border-radius: 3px;
}
/* 見出し */
.chatBlock h1 {
background: #6bb6ff;
color: #FFF;
padding: 10px 25px;
border-radius: 3px 3px 0 0;
}
/* チャットの中 */
ul#timeline {
padding: 20px 25px;
width: 100%;
height: 400px;
overflow-y: scroll;
flex-direction: column;
display: flex;
gap: 15px;
max-height: 400px;
}
ul#timeline li {
list-style: none;
display: block;
background: #eee;
position: relative;
padding: 12px 15px;
animation: fadeIn 0.7s ease 0s 1 normal;
}
ul#timeline li span {
position: relative;
line-height: 1.4;
display: inline-block;
}
ul#timeline li time {
font-size: 0.7rem;
position: absolute;
right: 8px;
bottom: 5px;
color: #707070;
}
/* 新規チャット */
ul#timeline li:last-child {
background: #e8f3ff;
}
/* フォーム */
form#chatSend {
display: flex;
justify-content: space-between;
padding: 20px 25px;
background: #ecf6ff;
border-radius: 0 0 3px 3px;
}
input#chatText {
line-height: 40px;
border: solid 1px #eee;
background: #FFF;
text-indent: 10px;
font-size: 1.1rem;
display: inline-block;
width: calc(100% - 100px);
}
input#chatText:focus-visible {
outline-color: #6bb6ff;
}
button#sendButton {
width: 90px;
border: none;
background: #6bb6ff;
color: #FFF;
letter-spacing: 0.07rem;
font-weight: 500;
border-radius: 3px;
font-size: 1.03rem;
}
/* アニメーション */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
}